.platform-playlists-container {
	display: flex;
	justify-content: center;
}

.platform-form-container {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
	background: #fff;
	text-align: center;
	height: calc(100vh - 8.25em);
	box-shadow: 0 2rem 6rem rgba(0, 0, 0, .3);
}

.platform-auth-button {
	margin: 30px auto;
	max-width: 400px;
	width: 100%;
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	color: #fff;
	background-color: var(--theme-blue);
	border: none;
	cursor: pointer;
}

@media only screen and (max-width: 400px) {
	.platform-form-container {
		width: 100%;
	}
}

@media only screen and (max-width: 900px) {
	.platform-playlists-container {
		flex-direction: column;
		margin: 0 auto;
	}

/*	.playlist-column {
		max-width: 50%;
	}*/
}