.nav-container {
    background-color: #fff;
    margin-bottom: 5px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.header {
    max-width: 1760px;
    margin: 0 auto;
    height: 4em;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.main-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*width: 100%;*/
}

.main-nav a:hover {
    /*color: var(--theme-light-blue);*/
    /*color: #fff;*/
    /*background-color: var(--theme-blue);*/
    border: 1px solid var(--theme-blue);
}

.main-nav a {
    border: 1px solid #fff;
    margin: 5px 5px;
}

.logo a,
.main-nav a {
    padding: 9px 14px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    color: var(--theme-blue);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.inverted a {
    color: #fff;
    background-color: var(--theme-blue);
    border: 1px solid var(--theme-blue);
}

.inverted a:hover {
    color: white;
}

@media only screen and (max-width: 400px) {
    .main-nav {
        padding-left: 0;
    }
}

@media only screen and (max-width: 800px) {
    .main-nav li:not(:first-child) {
        display: none;
    }
}