.playlist-column {
	display: flex;
	flex-direction: column;
	margin: 20px;
	width: 300px;
}

.auth-button {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	/*	color: #fff;
	background-color: var(--theme-blue);*/
	color: var(--theme-blue);
	background-color: #fff;
	cursor: pointer;
	border: 1px solid var(--theme-blue);
	max-width: 300px;
	width: 100%;
}

.playlist-column input {
	margin-top: 10px;
}

.playlist-column-form {
	display: flex;
	flex-direction: column;
}

@media only screen and (max-width: 400px) {
	.playlist-column {
		width: 100%;
		margin: 10px 0;
	}
}